@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #121212;
  color: #f0f0f0;
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
  padding-bottom: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 120vh;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: linear-gradient(135deg, #03b96d 0%,#02a25f 44%,#00824c 100%);
  color: #f0f0f0;
  text-align: center;
  position: relative;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -60px;
}


.projects {
  display: flex;
  margin-top: 40px;
  min-height: 100vh;
}

.title-projects {
  text-align: center;
  font-size: 50px;
  margin-left: 50px;
  text-shadow: 0 0 5px lightgreen;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.intro {
  font-family: 'Orbitron', sans-serif;
}

.story {
  position: relative;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
}

.art {
  position: relative;
  margin-top: 40px;
}

.title-art {
  text-align: center;
  font-size: 50px;
  margin-left: 50px;
  text-shadow: 0 0 5px lightgreen;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Profile/Name/Title/Resume */

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  outline: auto;
  outline-width: 5px;
  outline-style: outset;
  padding: 20px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.profile-content {
  display: flex;
  align-items: center;
  padding: 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.v-profile {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  object-position: 50% 20%;
  box-shadow: 
    0 0 5px 4px rgba(255, 255, 255, 0.9), 
    0 0 10px 8px lightgreen,
    0 0 15px 12px rgba(86, 179, 255, 0.6);
  transition: transform 0.3s ease;
}

.v-profile:hover {
  transform: scale(1.1);
}

.name {
  text-align: center;
  font-size: 45px;
  margin-left: 50px;
  text-shadow: 0 0 4px lightgreen, 0 0 3px rgb(67, 133, 67);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.name:hover {
  color: lightgreen;
  text-shadow: 0 0 20px lightgreen, 0 0 30px indigo;
  animation: glitch 0.5s infinite;
}

.my-title {
  display: block;
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
  color: #cfcfcf;
}

.download-resume {
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 50px;
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid transparent;
  background-color: transparent;
  color: rgb(255, 255, 255);
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
  border-image: linear-gradient(90deg, 
  lightgreen, rgb(29, 255, 217), lightgreen) 1;
}

.download-resume:hover {
  color: lightgreen;
}

@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .profile-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .v-profile {
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
  }

  .name, .my-title, .download-resume {
    margin-left: 0;
  }
}

/* Socials / Devicons */

.socials {
  justify-content: center;
  margin-top: 400px;
  position: absolute;
}

.devicons {
  justify-content: center;
  margin-top: 480px;
  position: absolute;
}

.devicons ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.devicons img {
  width: 35px;
  margin: 0 10px;
}

/* Art */
.designs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

.designs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  background-color: #121212;
}

@media screen and (max-width: 1200px) {
  .designs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .designs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .designs {
    grid-template-columns: 1fr;
  }
}

/* Main Content Column in the Center */

.center-column {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: calc(100vw - 400px);
  height: 100vh;
  background-color: rgb(31, 31, 31);
  overflow-y: auto;
  position: relative;
  margin-left: 200px;
  margin-right: 200px;
  z-index: 1;
}

.monstera-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100vw;
  z-index: 0;
}

/* Left Monstera section */
.monstera-left {
  background-image: url('/images/monstera_pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
}

/* Right Monstera section */
.monstera-right {
  background-image: url('/images/monstera_pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 100vh;
  position: fixed;
  right: 0;
}

.monstera-left, .monstera-right {
  pointer-events: none;
}

@media screen and (max-width: 975px) {
  .monstera-left, .monstera-right {
    display: none;
  }

  .center-column {
    width: 100vw;
    padding: 20px;
    height: auto;
    margin-bottom: 110px;
    box-sizing: border-box;
    max-height: none;
    overflow-y: visible;
  }
}

/* Nav link styles */
.nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, rgb(39, 80, 53) 0%,rgb(57, 160, 108) 44%,rgb(39, 80, 53) 100%);
  color: #f0f0f0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  z-index: 10;
}
.nav-link {
  color: #f0f0f0;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.7);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #2bffca;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.9), 0 0 20px rgba(255, 0, 128, 0.8);
}

.nav-link.active {
  background-color: #222222;
  color: #ffffff;
  border-bottom: 2px solid #98E970;
}

  /* Mobile Navbar */
@media screen and (max-width: 768px) {
  .nav {
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: nowrap;
  }

  .nav-link {
    font-size: 14px;
    margin: 5px 0;
    padding: 8px 10px;
  }

  /* Hamburger menu*/
  .hamburger {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }

  .nav-links.active {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .nav-link {
    font-size: 12px;
  }
}


/* Card styles */
.card {
  border: 1px solid #98E970;
  box-shadow: 0 0 15px rgba(116, 165, 255, 0.918), 0 0 20px rgba(51, 255, 0, 0.7);
  transition: box-shadow 0.3s ease;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 0 30px rgba(255, 0, 128, 0.9), 0 0 40px rgba(0, 255, 255, 0.9);
}

/* Button styles */
.btn-outline-light {
  border-color: #98E970;
  color: #98E970;
  text-shadow: 0 0 5px rgba(128, 0, 255, 0.7);
  transition: background-color 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.btn-outline-light:hover {
  background-color: #98E970;
  color: #000000;
  text-shadow: none;
}


/* Footer styles */
footer {
  background-color: #121212;
  color: #98E970;
  width: 100%;
  padding: 20px;
  text-align: center;
  position: absolute;
  z-index: 10;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #98E970;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

footer a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.copy-ve {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Glitch effect */
@keyframes glitch {
  0% { text-shadow: 2px 2px rgba(255, 0, 255, 0.6), -2px -2px rgba(0, 255, 255, 0.6); }
  25% { text-shadow: -2px 2px rgba(255, 0, 255, 0.6), 2px -2px rgba(0, 255, 255, 0.6); }
  50% { text-shadow: 2px -2px rgba(255, 0, 255, 0.6), -2px 2px rgba(0, 255, 255, 0.6); }
  75% { text-shadow: -2px -2px rgba(255, 0, 255, 0.6), 2px 2px rgba(0, 255, 255, 0.6); }
  100% { text-shadow: 2px 2px rgba(255, 0, 255, 0.6), -2px -2px rgba(0, 255, 255, 0.6); }
}

.neon-text {
  margin-left: 15%;
  font-size: xx-large;
}
.links-section {
  margin-top: 40px;
}
.title-links {
  color: lightgreen;
  font-size: larger;
}
.links {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}
.title-contact {
  color: lightgreen;
  font-size: x-large;
}
.quote {
  font-family: 'Orbitron', sans-serif;
}

.contact-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.email-form {
  background-color: #222222;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgreen, 0 0 15px lightgreen;
  max-width: 700px; /* Made the form smaller */
  width: 100%;
  margin-top: 20px;
}

.email-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #98e970;
}

.form-group {
  display: flex;
  justify-content: space-between;
  max-height: 250px;
}

.left-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 20px;
}

.left-group input {
  margin-bottom: 30px; /* Added extra space between input fields */
}

.message-group {
  flex: 1.8;
}

.email-form label {
  display: block;
  margin-bottom: 5px;
  color: #f0f0f0;
}

.email-form input,
.email-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 1px;
  border: 1px solid #98e970;
  background-color: #121212;
  color: #f0f0f0;
  border-radius: 5px;
}

.email-form textarea {
  resize: none;
  height: 200px;
}

.email-form input[type="submit"] {
  background-color: #98e970;
  border: none;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 20px; /* Extra space before the Send Message button */
}

.email-form input[type="submit"]:hover {
  background-color: #f0f0f0;
  color: #000000;
}

.email-form input:focus,
.email-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 255, 55, 0.7), 0 0 10px rgba(0, 255, 55, 0.7);
}



/* Media Query for Small Viewports */
@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
  }
  .form-row {
    flex-direction: column; /* Stack fields vertically */
  }
  .left-group,
  .message-group {
    width: 100%;
    margin: 0;
  }
}


/*Srollbar Adjustments */


.center-column::-webkit-scrollbar {
  width: 1;
}

.center-column:hover::-webkit-scrollbar {
  width: 10px;
}

.center-column::-webkit-scrollbar-track {
  background: #003f91, #02a791;
}

.center-column::-webkit-scrollbar-thumb {
  background: #00864e;
  border-radius: 8px;
}

.center-column::-webkit-scrollbar-thumb:hover {
  background: #00ad65; /* Darken the handle on hover */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #003f91, #02a791;
}

::-webkit-scrollbar-thumb {
  background: #00864e;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ad65; /* Darken the handle on hover */
}

/* Mobile Scrollbar */

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  body, main {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
